<%- include("partials/header") %>

    <div class="auth-container">
        <h2>Créer un Compte</h2>
        <form action="/auth/signup" method="POST">
            <label>Nom d'utilisateur</label>
            <input type="text" name="username" required>

            <label>Email</label>
            <input type="email" name="email" required>

            <label>Mot de Passe</label>
            <input type="password" name="password" required>

            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </form>

        <p>Déjà inscrit ? <a href="/auth/login">Se Connecter</a></p>
    </div>

    <%- include("partials/footer") %>